._ibg {
	position: relative;
}

._ibg img {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.slider {
	padding: 60px 0;
	display: flex;
	gap: 20px;
	width: 1200px;
	margin: 0 auto;
}

.content {
	flex: 0 0 400px;
	background-color: aqua;
}





.swiper {
	flex: 1 1 auto;
	height: 880px;
	/* overflow: visible; */
}

.swiper-wrapper {}

.swiper-slide {}

.swiper-pagination {}

.swiper-button-prev {}

.swiper-button-next {}

.swiper-scrollbar {}

.swiper-pagination-bullet {
	height: 40px;
	width: 40px;
	background-color: red;
}




.swiper-pagination-bullet-active {}



.forRandomColor {
	width: 600px;
	height: 400px;
	font-size: 42px;
	font-weight: 600;
}

.randomColor button {
	width: 200px;
	height: 100px;
	display: block;
	font-size: 32px;
	font-weight: 600;
}

.wrapper {
	width: 100px;
	height: 40px;
	border: 1px solid black;
	text-align: center;
	line-height: 40px;
	position: relative;

}

.loaderLine {
	height: 40px;
	background-color: orange;
	z-index: 5;
}

.timer {
	position: absolute;
	top: 0;
	left: 50%;
	font-weight: bold;
	text-align: center;
	line-height: 40px;
	height: 40px;
}